<nav id="tnav" class="tnav-horizontal">
  <ul class="tnav-list">

    <li id="tnav-logo" class="tnav-item"><a href="{{ "/" | absolute_url }}" accesskey="1">{{ site.title }}</a></li>

    <li id="tnav-search" class="tnav-item"><a href="{{ "/search/" | absolute_url }}">{% include svg/search.svg %}</a></li>
    <li id="tnav-work" class="tnav-item"><a href="{{ "/work/" | absolute_url }}">work</a></li>
    <li id="tnav-leisure" class="tnav-item"><a href="{{ "/leisure/" | absolute_url }}">leisure</a></li>

  </ul>
</nav>

